* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    /*touch-action: manipulation;*/
}

.containerTop{
    position : relative;
    height:10dvh;
    width : 100dvw;
    margin: 5% auto; /* CENTRE le container horizontalement */
    align-items: center;
}

.containerTopTittle{
    display: flex;
    position : relative;
    width : 200px;
    margin: 5% auto; /* CENTRE le container horizontalement */
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
    background-color: #0000004f;
    border: 4px solid #000000;
    z-index: 4;
}

.containerTopPower{
    content: "5";
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
    left: 130px;
    margin: 0% auto;
    border-radius: 90px;
    background-color: #75073aa2;
    border: 4px solid #000000;
    z-index: 2;
    top: -75px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0dvw;
}

.containerTop button{
    background-color: #000000;
    color : white;

}

.container {
    display: flex;
    overflow: hidden;
    position : absolute;
    width : 100dvw;
    top: 0dvw;
}

.bubble { /*Permet de faire la bulle quand hover*/
    opacity: 0;
    position: absolute;
    transform: translate(-50%,-150%);
    background-color: #8f2121;
    color: white;
    font-size:20px;/*Size of the text*/
    padding: 0 2vw;
    border-radius: 8px;
    z-index: 2.5;
    white-space: nowrap;
    pointer-events: none;
}

.bubble::after {
    content: '';
    position: absolute;
    justify-content: center;
    left : 50%;
    top : 95%;
    transform: translate(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: #8f2121 transparent transparent transparent;/*Pour faire le triangle*/
    pointer-events: none;
}

.containerBottom{
    z-index: 2;
    position: absolute;
    top: 500px;
    right: 50dvw;
    transform: translate(50%, 50%);
    border-radius: 20px;
    display: flex;
    background-color: #000000;
    border: 5px solid #000000;
    margin : 0 auto;
    height:80px;
}

.color-grid {
    margin : 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(2, 50%);
    border: 5px solid #00000000;
    border-radius: 20px;
}

.color {
    width: 35px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    outline : none;
}

button {
    cursor: pointer;
}

.imageFile-controls {
    display:flex;
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    padding : 5px 7px ;
    border-radius: 20px;
    top: -20%;
    right: -5%;
    z-index: 3;
}