* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-bottom: 2vh;
}

.container {
    display: flex;
    position : relative;
    height:80vh;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 5vh;*/
    overflow: hidden; /* Empêche la grille de dépasser */
}

.classcontainer {
    height : "20px";
}

.colorcontainer {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Empêche la grille de dépasser */
}

.pixel-grid {
    display: grid;
    grid-template-columns: repeat(100, 15px);
    grid-template-rows: repeat(100, 15px);
    gap: 1px;
    border: 1px solid #ddd;
    transition: transform 0s ease; /* Animation de zoom fluide */
}

.pixel {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    cursor: pointer;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(2, 40px);
    gap: 10px;
    border: 1px solid #000000;

}

.color {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    cursor: pointer;
}

.color-border{
    border : 2px solid black;
}

.controls {
    margin-top: 2wh;
}

button {
    margin-top: 0vh;
    padding: 0vh 0vw;
    cursor: pointer;
}

input[type="color"] {
    padding: 5px;
}

.zoom-controls {
    margin-top: 15px;
}

.zoom-controls button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
