*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100dvh;
    background: url(../images/bgLogin.png) no-repeat;
    background-size: cover;
    background-position:center;
}
.wrapper{
    width: 420px;
    background :transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    color : #fff;
    border-radius : 12px;
    padding : 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .inputBox{
    width : 100%;
    height : 50px;
    margin : 20px 0;
}
.inputBox input{
    width : 100%;
    height : 100%;
    background : transparent;
    border : none;
    outline : none;
    border : 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 19px;
    color : #fff;
    padding : 20px 45px 20px 20px
}
.inputBox input::placeholder{
    color : #fff
}
.wrapper select{
    width : 100%;
    height : 100%;
    background : transparent;
    border : none;
    outline : none;
    border : 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 19px;
    color : #ffff;
    padding : 10px 20px 10px 20px;
}
.wrapper select option{
    background-color: rgb(128, 128, 128);
}

.wrapper button{
    width : 100%;
    height  :45px;
    background: #fff;
    border : none;
    outline : none;
    border-radius : 40px;
    box-shadow : 0 0 10px rgba(0,0,0,0.5);
    cursor : pointer;
    font-size:16px;
    color : #333;
    font-weight :600;
}