*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    max-height: 100dvh;
    background-image: url('/images/bgLogin.png');
    background-size: cover;      /* ajuste l'image sans déformation */
    background-position: center; /* centre l'image */
    background-repeat: no-repeat;
}