* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    touch-action: manipulation;
}

h1 {
    margin-bottom: 1vh;
}

.containerTop{
    display: flex;
    position : relative;
    height:10dvh;
    width : 20dvw;
    margin: 5% auto; /* CENTRE le container horizontalement */
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
    background-color: #75073aa2;
    border: 0.5dvh solid #000000;
    z-index: 2;
}

.containerTop button{
    background-color: #000000;
    color : white;
}

.container {
    display: flex;
    position : absolute;
    height:100dvh;
    width : 100dvw;
    top: 0dvw;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Empêche la grille de dépasser */
}

.containerBottom{
    position: absolute;
    z-index: 2;
    top: 60vh;
    right: 50vw;
    transform: translate(50%, 50%);
    border-radius: 25px;
    display: flex;
    background-color: #000000;
    border: 1vh solid #000000;
    margin-left: auto;
    margin-right: auto;
    height:12vh;
    width:47vh;

    overflow: hidden; /* Empêche la grille de dépasser */
}

.classcontainer {
    height : "2vh";
}

.pixel-grid {
    display: grid;
    grid-template-columns: repeat(100, 1.5vh);
    grid-template-rows: repeat(100, 1.5vh);
    transition: transform 0s ease; /* Animation de zoom fluide */
}

.pixel {
    width: 1.5vh;
    height: 1.5vh;
    background-color: #ffffff;
    cursor: pointer;
}

.color-grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(2, 50%);
}

.color {
    width: 5vh;
    height: 5vh;
    background-color: #ffffff;
    cursor: pointer;
}

.color-border{
    border : 1.5vh solid black;
}

button {
    cursor: pointer;
}

.imageFile-controls {
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 3;
}