* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    /*touch-action: manipulation;*/
}

.containerTop{
    position : relative;
    height:10dvh;
    width : 100dvw;
    margin: 5% auto; /* CENTRE le container horizontalement */
    align-items: center;
}

.containerTopTittle{
    display: flex;
    position : relative;
    width : 50dvw;
    margin: 5% auto; /* CENTRE le container horizontalement */
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
    background-color: #75073aa2;
    border: 0.5dvh solid #000000;
    z-index: 2;
}

.containerTopPower{
    content: "5";
    display: flex;
    position: relative;
    height: 5dvh;
    width: 5dvh;
    left: 16dvh;
    margin: 0% auto;
    border-radius: 90px;
    background-color: #75073aa2;
    border: 0.5dvh solid #000000;
    z-index: 2;
    top: -10.5dvh;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0dvw;
}

.containerTop button{
    background-color: #000000;
    color : white;

}

.container {
    display: flex;
    overflow: hidden;
    position : absolute;
    width : 100dvw;
    top: 0dvw;
}

.bubble { /*Permet de faire la bulle quand hover*/
    opacity: 0;
    position: absolute;
    transform: translate(-50%,-100%);
    background-color: #8f2121;
    color: white;
    font-size:20px;/*Size of the text*/
    padding: 0 2vw;
    border-radius: 8px;
    z-index: 3;
    white-space: nowrap;
    pointer-events: none;
}

.bubble::after {
    content: '';
    position: absolute;
    justify-content: center;
    left : 50%;
    top : 95%;
    transform: translate(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: #8f2121 transparent transparent transparent;/*Pour faire le triangle*/
    pointer-events: none;
}

.containerBottom{
    z-index: 2;
    position: absolute;
    top: 70%;
    right: 50dvw;
    transform: translate(50%, 50%);
    border-radius: 20px;
    display: flex;
    background-color: #000000;
    border: 1dvh solid #000000;
    margin : 0 auto;
    height:24dvw;
    width:100dvw;
}

.color-grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(2, 50%);
    border: 0px solid #000000;
}

.color {
    width: 10dvw;
    height: 10dvw;
    background-color: #ffffff;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.imageFile-controls {
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 3;
}