<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/stylesDashboard.css">

</head>
<body>

Hello everyone. 
This is an easter egg.<br>

Well Done !<br>

Send me a pic of this and i will reward u !


    <script src="javascripts/dashboard-script.js"></script>

</body>
</html>