<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/styleDashboard.css">

    <script>
      const team_values = <%- JSON.stringify(team_values) %>;
    </script>

</head>
<body>

<div class="rules">
  <h2>
      Règles : <br>
  </h2><br>

  <h3>    
      - 30 pixels toutes les 20 minutes.<br>
      - 20 pixels toutes les 5 minutes lors des Raids.<br>
  </h3><br>
  <h3>
    <a href="https://discord.gg/whzqMd3tu" target="_blank">Discord</a>
  </h3>
  <h3>
    <a href="https://www.instagram.com/pixelwarblo" target="_blank">Insta</a>
  </h3><br>
  <h2>
    Classement des équipes :
  </h2><br>

  <h3 style="text-align:center;">
    <%- team_values %><br>
  </h3>

    <h2>
      Don : 
    </h2>
  <h3 style = "text-align:center;">
    <br>
    Si vous aimez cette page, soutenez la !<br><br>
    
    IBAN : FR76 1027 8062 1200 0201 6760 470<br>

  </h3><br>
  


</div>

<!-- Btn --> 
<div class="button-wrapper">
  <button class="spiderverse-button">
    Play
    <div class="glitch-layers">
      <div class="glitch-layer layer-1">Play</div>
      <div class="glitch-layer layer-2">Play</div>
    </div>
    <div class="noise"></div>
    <div class="glitch-slice"></div>
  </button>
</div>

    <script src="javascripts/dashboard_script.js"></script>

</body>
</html>