<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/styleDashboard.css">

</head>
<body>

<h1>
    Regle : <br>
</h1>


<!-- Btn --> 
<div class="button-wrapper">
  <button class="spiderverse-button">
    Play
    <div class="glitch-layers">
      <div class="glitch-layer layer-1">Play</div>
      <div class="glitch-layer layer-2">Play</div>
    </div>
    <div class="noise"></div>
    <div class="glitch-slice"></div>
  </button>
</div>

    <script src="javascripts/dashboard_script.js"></script>

</body>
</html>