<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/stylesGoogle.css">
</head>
<body>
    <script src="javascripts/google-script.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div class="background", id='bgGoogle'></div>

    <div id="g_id_onload"
        data-client_id="435477578567-5pnm940jdum7dusda7e4vkdh495g08ls.apps.googleusercontent.com"
        data-callback="onGoogleSignIn">
    </div>
    <div class="g_id_signin" data-type="standard"></div>

<div class="controls">
    <%= info %>
</div>
</body>
</html>