<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel War</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <h1>Pixel War</h1>

    <input type="file" id="fileimage" accept="image/*" style="position: absolute; top: 2vh; left:1vw;">
    <button id ="moovefile" style="position: absolute; top: 5vh; left:1vw;">Moove</button>
    

    <div class="container" id = 'container'>
        <img id="imagePreview" src="" alt="" style ="position: absolute; opacity: 0.5;"/>
        <div class="pixel-grid" id="pixel-grid"></div>
    </div>

    <div class="colorcontainer">
        <div class="color-grid" id="color-grid"></div>

        <div class="controls">
        
            <div class="zoom-controls">
                <button id="zoom-in">Zoom +</button>
                <button id="zoom-out">Zoom -</button>
            </div>

        </div>
    </div>    

    <script src="javascripts/grid-script.js"></script>
</body>
</html>
