<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel War</title>
    
    <script>
    // Les données sont injectées par le serveur
    const pixelsBdd = <%- JSON.stringify(pixels) %>;
    </script>
    <script src="javascripts/grid-script.js"></script>

</head>
<body>

    <div class = "containerTop">
        <div class="containerTopTittle">
            <h1>Pixel War</h1>
            <div id="pseudo" data-message="<%= pseudo %>"><%= pseudo %></div>
            <button id="changeControl">Drawing</button>
        </div>
        <div class=containerTopPower data-count = "5" id ="containerTopPower"></div>
    </div>

    <div class="container" id = 'container'>
        <img id="imagePreview" src="" alt="" style ="position: absolute; opacity: 0.5; z-index : 1; pointer-events: none;"/>
        <canvas id="pixelCanvas"></canvas>
        <div class="bubble" id="bubble"></div>

        <div class="containerBottom">
            <div class="color-grid" id="color-grid"></div>

            <div class="imageFile-controls">
                <label for="fileimage" class="file-label" style="color:rgb(255, 255, 255);">File</label>
                <input type="file" id="fileimage" accept="image/*" style="display : none">
            </div>
        </div>  
        <a href="/credits">Julian et Timothée</a>
        <!-- Formulaire caché -->
        <form id="getPixelsForm" action="/grid" method="GET" style="display: none;"></form>
    </div>
</body>
</html>