<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <h1>Login</h1>
    
    <label for="classe-select"> Ton pseudo : </label>
    <textarea id="pseudo" name="pseudo" rows="1" cols="15" style="resize: none" maxlength="15"></textarea>

    <select name="CurrentClass" id="class-select">
        <option value ="TG01">TG01</option>
        <option value ="TG02">TG02</option>
        <option value ="TG03">TG03</option>
        <option value ="TG01">TG04</option>
        <option value ="TG02">TG05</option>
        <option value ="TG03">TG06</option>
        <option value ="TG01">TG07</option>
        <option value ="TG02">TG08</option>
        <option value ="TG03">TG09</option>
        <option value ="TG01">1G01</option>
        <option value ="TG02">1G02</option>
        <option value ="TG03">1G03</option>
        <option value ="TG01">1G04</option>
        <option value ="TG02">1G05</option>
        <option value ="TG03">1G06</option>
        <option value ="TG01">1G07</option>
        <option value ="TG02">1G08</option>
        <option value ="TG03">1G09</option>
        <option value ="TG01">2GT01</option>
        <option value ="TG02">2GT02</option>
        <option value ="TG03">2GT03</option>
        <option value ="TG01">2GT04</option>
        <option value ="TG02">2GT05</option>
        <option value ="TG03">2GT06</option>
        <option value ="TG01">2GT07</option>
        <option value ="TG02">2GT08</option>
        <option value ="TG03">2GT09</option>
    </select>

    <div class="controls">
        
        <div class="zoom-controls">
            <button id = "NextPage">Login</button>

        </div>

    </div>    

    <script src="javascripts/login.js"></script>
</body>
</html>