<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/styleLogin.css">

</head>
<body>


    <div class="wrapper" id="wrapper">
        <h1>Login</h1>
        <form method="post" action = "/login">
            <div class="inputBox">
                <input type="text" placeholder="Username" id="pseudo" name = "pseudo" class="inputField" maxlength="15" required  >
            </div>
            <select name="CurrentClass" id="CurrentClass" class = "selectClass" required>
                <option value=""></option>
                <option value ="F1">F1</option>
                <option value ="JASA">JASA</option>
                <option value ="Licorne">Licorne</option>
                <option value ="Vipere">Vipere</option>
                <option value ="Tigre">Tigre</option>
                <option value ="France">France</option>
                <option value ="Prof">Prof</option>
                <option value ="Autres">Autres</option>
            </select>
            <div class="inputBox">
                <button type = "submit" name = "button" id ="loginButton" class = "inputSubmit">Créer</button>
            </div>
            <div style="color: #000; font-weight: bold; background: #ffffff79; padding: 6px 12px; border-radius: 8px; display: inline-block; margin-top: 10px;"><%= info %></div>

        </form>
    </div>
    <script src="javascripts/login-script.js"></script>
</body>
</html>