<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
</head>
<body>
    <h1>Login</h1>

    <div class="controls">
        
        <div class="zoom-controls">
            <button onclick="window.location.href='grid.html'" id = "NextPage">Login</button>

        </div>
    </div>    

    <script src="../public/javascripts/login.js"></script>
</body>
</html>