<script>
    admin = <%- JSON.stringify(admin) %>;
</script>
<button id="BtnReload" style="display:none">Button Admin</button>

<br>
<br>

&copy; 2025<br>
<br>

Tous droits réservés. Ce projet ne peut pas être reproduit sans l'accord de ses créateurs.<br>
<br>

Date : 2024-2025

Droits d'auteurs<br>
<br>
<br>
<a href="/">Revenir à la grille</a>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/utils-script.js"></script>