<script>
    pseudo = '<%= pseudo %>';
</script>

La PixelWar du lycée François 1er durera X jours, du Y au Z juin 2025. 
Le principe est simple : tu peux colorier des cases de la grille de pixels pour 
y dessiner ce que tu veux (dans la limite évidente du respect d'autrui). 
Toutes les X minutes, il est possible de colorier Y pixels.

Des périodes de raid auront lieu chaque jour de 18h à 19h. Pendant ces phases, tu pourras colorier Z pixels toutes les Y minutes.

Kiffe à fond !

Stv nous contacter en cas de bugs ou autre : <br>

Timothée & Julian, TG02

<button id="BtnReload">Button Admin</button>


<br>
<br>

&copy; 2025<br>
<br>

Tous droits réservés. Ce projet ne peut pas être reproduit sans l'accord de ses créateurs.<br>
<br>

Date : 2024-2025

Droits d'auteurs<br>
<br>
<br>
<a href="/">Revenir à la grille</a>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/utils-script.js"></script>