<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Waiting place</title>
    <link rel="stylesheet" href="stylesheets/styleWaiting.css">
</head>
<body>
    <div class="box">
        <h1><%= title %></h1>
        <h2><%= text %></h2>
    </div>
</body>
</html>
